/* 基本色 */
:root {
  --main-color : #1a4472;
  --accent-color : #613827;
  --sub-color : #d3bd89;
  --dark-main-color : #333; /*rgba(51, 51, 51, 0)*/
  --bright-main-color : #fff; /*rgba(255, 255, 255, 0)*/
  --gray-main-color:#ddd;
  --notice-color:#AD4747;
  --large-width:1000px;
  --middle-width:800px;
  --small-width:450px;
}

section{
  padding: 60px 0;
}

.container {
  padding: 40px; 
}

.scrollbox {
  padding-top: 635px;
}


.icon {
  width: 35%;
  margin:0 auto;
}

.price__line{
  margin:55px auto;
  width: 30%;
  padding: 7px 0;
}

.cart__in{
  width: 120px;
  margin:0 auto 1rem auto;
}

.item__image{
  width: 45%;
  margin:0 auto;
}

.price__cal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: -46px;
}



.conC .price__cal {
  top: -14px;
  left: 50%;  
}

.conD .price__cal {
  top:84px;
  left: 50%;
}




.accent {
  color: var(--accent-color);
}

.sub__accent{
  color: var(--sub-color);
}

 /** クラス指定の先頭の文字列がtitleだったらという指定*/
 a[class^="title"] {
  font-weight:normal;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 42px;
  color: var(--main-color);
}

h2[class^="title"] {
  font-size: 24px;
  line-height: 2;
}

.conA,
.scrollbox,
.header__menu,
.header__menu-bar{
  width: 100vw;
}


.header__menu-list,
input, textarea{
  width: 100%;
  
}

.header,
.header__menu,
.header__menu-bar,
.conA{
  max-width: var(--small-width);
}

.item__cal{
  position: relative;
  margin:-50px ;
}

.item__name{
  font-size: 28px;
  margin: 30px 0;
}

.item__caption{
  margin: 30px 0;
}



.price__item{
  font-size: 40px;
  margin: 20px;
}


/* ------------------------------ */
 /* hero-top */

.conA {
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height:auto;
  min-height: 1358px;
  background: linear-gradient(to bottom, transparent 0%, transparent 95%, var(--bright-main-color) 100%), url(../img/top.png);
  background-color:var(--main-color) ;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;

  text-align: center;
  padding-bottom: 100px;
}

/* hero-top */
/* ------------------------------ */

/* ------------------------------ */
/* conB introduce**/

.conB {
  position: relative;
  height:80%;
  min-height: 450px;

  background-image:url(../img/intro.png);
  background-color: var(--bright-main-color);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;
  padding-top: 10rem;
  padding-bottom: 45rem;

  color: var(--bright-main-color);
  
}


.conB__boxA{
  position: absolute;
  top:55px;
  left: 0;
  right: 0;

}

.conB__boxB{
  position: absolute;
  top:280px;
  left: 0;
  right: 0;

}

.conB__boxB p ,
.conB__boxB a {
  line-height: 3;
}




/* conB introduce*/
/* ------------------------------ */


/* ------------------------------ */
/* conC col_1*/

.conC{
  background-color: var(--bright-main-color);
}

.item__boxC{
 margin: 50px 0; 
}
/* ------------------------------ */


/* conC col_1*/
/* ------------------------------ */

.conC{
  background-image: url(../img/baseC.png);
  background-position: center top;
  background-size:128%;
  background-repeat: no-repeat;
  background-color: var(--bright-main-color);
  padding: 1rem 0;
}


/* ------------------------------ */
/* conD col_1*/

.conD {
  background-image:url(../img/border.png);
  background-position: center center;
  background-size: contain;
  background-color: var(--bright-main-color);
  padding: 1rem 0;
  
}

.conD p,
.conD h2,
.conD a{
  color: var(--bright-main-color);
}

.conD__box{
  background-image:url(../img/flame.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 700px;
  margin-top: 30px;
}

.conD .item__cal{
  padding-top: 45px
}



/* conD col_1*/
/* ------------------------------ */


/* ------------------------------ */
/* conE col_1*/

.conE {
  background-color: var(--bright-main-color);
}

.item__boxE{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  flex-direction: column;
}

/* conE col_1*/
/* ------------------------------ */

/* ------------------------------ */
/* conF col_1*/

.conF {
  background-color: var(--bright-main-color);
}

.frm {
  width: 50%;
  margin: 10% auto;
}

.frm__name,
.frm__email,
.frm__subject,
.frm__msg {
  float: left;
  width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: var(--gray-main-color);
  color: #7a7a7a;
  font-family: "ta-dansyaku", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}


input[type=submit] {
    width: 100%;
    height: 130px;
    border: none;
    background-color: transparent;
    background-image: url(../img/submit.png);
    background-size:65%;
    background-position: center center;
    background-repeat: no-repeat;
    /* adobe fonts */
    font-family: "ta-dansyaku", sans-serif;
    font-weight: 400;
    font-style: normal;
}

textarea {
  height: 10rem;
}

.frm__item__label{
  text-align: left;
  margin: 0;
  padding: 0;
  color: var(--accent-color);
}

.frm__item__label__required{
  color: var(--notice-color);
}

input::-moz-placeholder, textarea::-moz-placeholder,
input::placeholder, textarea::placeholder {
  color: var(--gray-main-color);
}

input.error, textarea.error {
  background: var(--notice-color);
  color: var(--bright-main-color);
}

input.error::-moz-placeholder, textarea.error::-moz-placeholder,
input.error::placeholder, textarea.error::placeholder {
  color: var(--dark-main-color);

}







/* conF col_1*/
/* ------------------------------ */

